
    .body_btn {
        background-color: #0f1de7;
        color: #e7e2e2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container_btn {
        text-align: center;
        border: 2px solid #f0f3f7;
        padding: 30px;
        border-radius: 10px;
        background-color: #ffffff;
    }

    h1_btn {
        font-size: 48px;
        margin-bottom: 20px;
    }

    p_btn {
        font-size: 18px;
    }

    .btn-home_btn {
        margin-top: 20px;
    }

    .btn-home_btn a {
        text-decoration: none;
        color: #ffffff;
        background-color: #1640cc;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .btn-home_bnt a:hover {
        background-color: #123250;
    }
